main {
    display: flex;
    min-height: calc(100vh - 110px);
    font-family: sans-serif;
}

.header {
    height: 100px;
    background-color: #52a948;
}

.footer {
    height: 200px;
    background-color: #7a9377;
}

.main-section {
    width: 66vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block {
    display: flex;
    width: 20vw;
    height: 20vh;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    background: #c85555;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3em;
    font-weight: bold;
}

@media screen and (max-width: 520px) {
    .main-section {
        width: 75vw;
    }
    .block {
        height: 10vh;
        width: 30vw;
    }
}